* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  @include sizes(100%, 100%); // w + h
  // @include sizes(1920px, 1080px); // w + h
}
body {
  @include sizes(100%, 100%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn {
  // min-width: ($sidebarMin_W / 2);
  // min-height: ($sidebarBtnMin_H / 2);
}
.page-wraper {
  display: flex;
  @include sizes(100%, 100%);
  // @include minSizes_px($pageMinWidth, $pageMinHeight);
}

.content-wraper {
  display: flex;
  flex-direction: column;
  @include sizes(100%, 100%);
  // @include minSizes_px($contentMinWidth, $contentMinHeight);
}
