.content {
  background-color: #f2f3f7;
  /* width: 910px; */
  /* height: 490px; */

  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  background-color: #c5c5c5;
}
