.dashboard {
  display: flex;
  align-items: center;

  width: 100%;
  min-width: 310px;
  min-height: 15%;
  padding-left: $contentPadding;
  padding-right: $contentPadding;
  background-color: $TranslucentBlueGray;

  & .btn {
    display: flex;
    align-items: center;
    height: 30px;

    padding: 5px;
    margin-left: 15px;

    border: $Purple solid 1px;
    border-radius: 4px;

    font-size: 0.5rem;
    &.btn--manage {
      color: $Purple;
      background-color: $TranslucentBlueGray;
    }
    &.btn--create {
      color: $White;
      background-color: $Purple;
    }
  }
}
.btn__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  &.btn__icon--manage {
  }
  &.btn__icon--create {
  }
}
.heading {
  flex: 1 1 auto;
  font-size: 0.5rem;

  & .heading__mark {
    color: $LightGray;
    line-height: 20px;
  }
}
