.dashboard {
  width: 100%;
  //@include convertHeightToPercent($layoutHeight, 154px);
  @include minSizes_px(($dashboardMinWidth / 2), $dashboardMinHeight);

  display: flex;
  align-items: center;
}
// доделать!!!
.dashboard__text {
  flex: 1 1 auto;
}
.dashboard__btnwrap {
  margin-left: 15px;
}
.dashboard__btnborder {
  display: flex;
  border-radius: 5px;
}
.dashboard__button {
}
.button__manage {
}
.button__create {
}
.dasboard__btnicon {
}
.btnicon__manage {
}
.btnicon__create {
}
