.footer {
  min-width: 310px;
  min-height: 25px;
  text-align: right;

  padding-left: $contentPadding;
  padding-right: $contentPadding;

  background-color: $TranslucentBlueGray;
  color: $LightGray;
}
