.row {
  display: flex;

  .col-1 {
    width: $col1;
  }
  .col-2 {
    width: $col2;
  }
  .col-3 {
    width: $col3;
  }
  .col-4 {
    width: $col4;
  }
  .col-5 {
    width: $col5;
  }
  .col-6 {
    width: $col6;
    // @media (max-width: 493px) {
    //   width: 100%;
    // }
  }
  .col-7 {
    width: $col7;
  }
  .col-8 {
    width: $col8;
  }
  .col-9 {
    width: $col9;
  }
  .col-10 {
    width: $col10;
  }
  .col-11 {
    width: $col11;
  }
  .col-12 {
    width: $col12;
  }

  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
    & .col-3 {
      width: 100%;
    }
  }
}

// // //сетка на float- ах
// // .row_2 {
// //   display: flex;
// //   flex-wrap: wrap;
// //   justify-content: space-between;
// //   > div {
// //     //@include grid(20px, 4, 5%);
// //     border: darkred 1px solid;
// //   }
// // }

// // сделал сетку на флексах
// .row_1 {
//   @include grid(20px);
//   > div {
//     @include cols(4, 5%);
//     border: darkred 1px solid;
//   }
// }
