@mixin sizes($w: 0%, $h: 0%) {
  width: $w;
  height: $h;
}

//test flex grid
@mixin grid($rowMarginTop) {
  margin-top: $rowMarginTop;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin cols($cols, $colsMargin) {
  min-width: ((100% - (($cols - 1) * $colsMargin)) / $cols);
  background-color: dimgray;

  // для более подробной настройки сетки надо доработать
  // flex: 0 0 197px;
  height: 77px;

  // &:nth-child(#{$cols}n) {
  //   margin-right: 0px;
  // }
}
