.sidebar {
  width: $sidebarWidth;
  height: 100%;
  min-width: $sidebarMin_W;
  min-height: $sidebarMin_H;
  display: flex;
  flex-direction: column;
}
.sidebar__decoration--c {
  background: #373b53;
}
.sidebar__logo {
  //  background-image: url(../adds/toolLogo.png);
  width: 100%;
  height: $sidebarBtnHeight;
  min-width: $sidebarMin_W;
  min-height: $sidebarBtnMin_H;

  //затычка...
  background-color: blueviolet;
  font-size: 2.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}
.sidebar__navpanel {
  flex: 1 1 auto;
}

.sidebar__btn {
  width: 100%;
  height: $sidebarBtnHeight;
  min-width: $sidebarMin_W;
  min-height: $sidebarBtnMin_H;

  background: #373b53;
  border: none;
  color: aliceblue;
}
.sidebar__settings {
  border-top: 1px solid #262835;
}
