.topbar {
  width: 100%;
  @include convertHeightToPercent($layoutHeight, $lTopBarH);
  @include minSizes_px($topBarMinWidth, $topBarMinHeight);

  display: flex;
}
.topbar__decoration--c {
  background-color: yellow;
}
.topbar__search {
  width: 60%;
}
.topbar__account {
  border-right: 2px solid yellowgreen;
  width: 20%;
}
.topbar__buttons {
  width: 20%;
}
