$maketW: 1920px;
$maketH: 1080px;

$sidebarWidth: (100% / ($maketW / 100px));
$sidebarHeight: 100%;

$sidebarBtnH: (100% / ($maketH / 100px));

$topbarWidth: 100%;
$topbarHeight: (100% / ($maketH / 100px));

$contentPadding: (100%/ (1920px / 60px));
