.widget {
  display: flex;
  flex-direction: column;
  // margin-top: 20px;

  width: 100%;
  height: 100%;
}
.widget__view--decorated {
  background: #ffffff;
  box-shadow: 0 2px #c7c7ca;
  border-radius: 5px;
}

.widget__toolBar {
  display: flex;
  align-items: flex-end;
  // border-bottom: #bdbfc5 solid 1px;
}
.widget__title {
}
.widget__legend {
}

.widget__content {
  display: flex;
}
.widget__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
}
.widget__icon {
}

.widget__iconframe__clor0 {
  background: rgba(112, 59, 219, 0.377);
  border-radius: 50%;
}
.widget__iconframe__clor1 {
  background: rgba(51, 214, 160, 0.486);
  border-radius: 50%;
}
.widget__iconframe__clor2 {
  background: rgba(255, 76, 97, 0.438);
  border-radius: 50%;
}
.widget__iconframe__clor3 {
  background: rgba(76, 183, 255, 0.466);
  border-radius: 50%;
}
.widget__iconframe__clor4 {
  background: rgba(255, 183, 0, 0.459);
  border-radius: 50%;
}
.widget__iconframe__clor5 {
  background: rgba(76, 183, 255, 0.527);
  border-radius: 50%;
}
.widget__value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.01em;
}
.widget__mark {
  // font-family: sans-serif;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: $LightGray;
}

.schedule {
  height: (378px / 2);
  //   flex: 0 0 calc(830px / 2);
}
