.widget {
  display: flex;
  flex-direction: column;

  background: $White;
  border-radius: 5px;
  box-shadow: 0 2px $DarkGray;

  &.widget--short-form {
    min-width: (395px * $scale);
    max-width: 95%; // max-width: 21.7033%;
    min-height: (154px * $scale);

    margin: 0 auto;
  }
  &.widget--landscape-orient {
    min-width: (395px * $scale);
    max-width: 97.5%; // вычитаем отступ 5%
    min-height: (378px * $scale);

    margin: 0 auto;
  }
  &.widget--portrait-orient {
    min-width: (395px * $scale);
    max-width: 95%;
    min-height: ((378px + 154px + 40px) * $scale);

    margin: 0 auto;
  }

  @media (max-width: 440px) {
    &.widget--landscape-orient {
      max-width: 95%;
    }
  }
}
.widget__header {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  min-height: (74px * $scale);
  border-bottom: 1px solid $DarkGray;
  & .item__discroption {
    margin-left: 5px;
  }
}
.widget__title {
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 0.6rem;
}

.widget .item {
  display: flex;
  align-items: center;
}

// .widget .item__value {
//   font-weight: 600;
//   font-size: 1rem;
//   line-height: 100%;
// }
.widget .item__discroption {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 0.6rem;
  line-height: 20px;
  color: $LightGray;
}
.widget .item__filter {
  & .btn {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: none;

    // border: $LightGray 1px solid;
    // border-radius: 2px;
  }
}
.widget .item__point {
  width: 7px;
  height: 7px;
  margin-left: 5px;
  border-radius: 50%;
  &.item__point--purple-color {
    background-color: $Purple;
  }
  &.item__point--orange-color {
    background-color: $Orange;
  }
}
.widget__content {
  display: flex;
  padding: 15px;
  // & .item__value,
  // .item__discroption {
  //   margin-left: 20px;
  //   width: 1 1 auto;
  // }
}
.widget__icon {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  margin-left: 5px;

  border-radius: 50%;
  &.widget__icon--clor0 {
    background: rgba(112, 59, 219, 0.377);
  }
  &.widget__icon--clor1 {
    background: rgba(51, 214, 160, 0.486);
  }
  &.widget__icon--clor2 {
    background: rgba(255, 76, 97, 0.438);
  }
  &.widget__icon--clor3 {
    background: rgba(76, 183, 255, 0.466);
  }
  &.widget__icon--clor4 {
    background: rgba(255, 183, 0, 0.459);
  }
  &.widget__icon--clor5 {
    background: rgba(76, 183, 255, 0.527);
  }
}
.widget__value {
  margin-top: 5px;
  margin-left: 20px;

  // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  //   "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;

  & .widget__clarification {
    // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    //   "Lucida Sans", Arial, sans-serif;
    // font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 16px;
    color: $LightGray;
  }
}
