* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  @include sizes(100%, 100%);
}
body {
  @include sizes(100%, 100%);
}

.pagewraper {
  display: flex;
  @include sizes(100%, 100%);

  // border: solid 1px red;
}

.contentwraper {
  display: flex;
  flex-direction: column;
  @include sizes(100%, 100%);

  // border: solid 1px black;
}
