* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  @include sizes(100%, 100%); // w + h
  // @include sizes(1920px, 1080px); // w + h
}
body {
  @include sizes(100%, 100%);
}

.pagewraper {
  display: flex;
  @include sizes(100%, 100%);
  @include minSizes_px($pageMinWidth, $pageMinHeight);
}

.contentwraper {
  display: flex;
  flex-direction: column;
  @include sizes(100%, 100%);
  @include minSizes_px($contentMinWidth, $contentMinHeight);
}
