* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  @include sizes;
}
body {
  @include sizes;
}

.pagewraper {
  display: flex;
  @include sizes;
  @include min_sizes($pageMinWidth, $pageMinHight);
  // border: solid 2px red;
}

.contentwraper {
  display: flex;
  flex-direction: column;
  @include sizes;
  @include min_sizes($contentMinWidth, $contentMinHeight);
  // border: solid 2px black;
}
