/*свойства блока
  align-items: stretch / center / flex-start / flex-end; ориентирует все элементЫ!- (вся область/поцентру/в начале/вконце контейнера)
  discplay: flex; - делает блоком
  flex-direction: row / row-reverse / column / column-reverse; вывод елемнтов в строку/встр в обр порядке/колонку/колонку в обр порядке
  justify-content: space-between;
*/
/*свойства элементов
  align-self: stretch / center / flex-start / flex-end; ориентирует элемент- (вся область/поцентру/в начале/вконце контейнера)
  flex-grow: 1; задает возможность увеличиваться больше базового
  flex-shrink: 1; задает возможность становиться меньше чем базовый
  flex-basis: 20%; задает базовый размер
  flex: 1 1 20%;
*/
* {
  box-sizing: border-box;
}
body {
  width: calc(1920px / 100 * 50);
  height: calc(1080px / 100 * 50);
}
.mainwraper {
  display: flex;
}
.sidebar {
  width: 50px;
  height: 540px;

  background: #373b53;

  display: flex;
  flex-direction: column;
}
.sidebar__logo {
  background-image: url(../adds/toolLogo.png);

  width: 50px;
  height: 50px;
}
.sidebar__buttons {
  width: 50px;

  flex: 1 1 auto;
}
.sidebar__btn {
  width: 50px;
}
.sidebar__settings {
  width: 50px;
  height: 50px;
}

.mainwindow {
  display: flex;
  flex-direction: column;
}
.topbar {
  width: 910px;
  height: 50px;

  display: flex;
}
.topbar__search {
  width: 60%;
}
.topbar__account {
  width: 20%;
}
.topbar__buttons {
  width: 20%;
}
.content {
  background-color: #f2f3f7;
  width: 910px;
  height: 490px;

  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.dashboard {
  height: 77px;
  display: flex;
  align-items: center;
}
.dashboard__text {
  flex: 1 1 auto;
}
.dashboard__btnwrap {
  margin-left: 15px;
}
.dashboard__btnborder {
  display: flex;
  border: solid 1px rgb(182, 31, 31);
  border-radius: 5px;
}
.dashboard__button {
}
.button__manage {
}
.button__create {
}
.dasboard__btnicon {
}
.btnicon__manage {
}
.btnicon__create {
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row_basics_auto {
  margin-top: 20px;
  flex: 1 1 auto;
}
.column_1x1 {
  flex: 0 0 calc(395px / 2);
  height: 77px;
  background: #ffffff;
  box-shadow: 0 2px #ededf6;
  border-radius: 5px;
}
.column_2x2 {
  flex: 0 0 calc(830px / 2);
  height: calc(378px / 2);
  border: solid 1px red;

  background: #ffffff;
  box-shadow: 0 2px #ededf6;
  border-radius: 5px;
}
.column_3x1 {
  flex: 0 0 calc(395px / 2);
  height: 286px;
  border: solid 1px rgb(0, 0, 0);

  background: #ffffff;
  box-shadow: 0 2px #ededf6;
  border-radius: 5px;
}
.column_3x2 {
  flex: 0 0 calc(830px / 2);
  height: 286px;
}
.column_3x2 > .column_1x1 {
  margin-top: 20px;
}

.data1 {
  display: flex;
}
.data1__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(112, 59, 219, 0.377);
  border-radius: 20px;
}
.data1__icon {
}
.data1__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data1__mark {
}

.data2 {
  display: flex;
}
.data2__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(51, 214, 160, 0.486);
  border-radius: 20px;
}
.data2__icon {
}
.data2__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data2__mark {
}

.data3 {
  display: flex;
}
.data3__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(255, 76, 97, 0.438);
  border-radius: 20px;
}
.data3__icon {
}
.data3__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data3__mark {
}

.data4 {
  display: flex;
}
.data4__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(76, 183, 255, 0.466);
  border-radius: 20px;
}
.data4__icon {
}
.data4__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data4__mark {
}

.data5 {
  display: flex;
}
.data5__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(255, 183, 0, 0.459);
  border-radius: 20px;
}
.data5__icon {
}
.data5__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data5__mark {
}

.data6 {
  display: flex;
}
.data6__iconframe {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;

  background: rgba(76, 183, 255, 0.527);
  border-radius: 20px;
}
.data6__icon {
}
.data6__value {
  margin-top: 20px;
  margin-left: 20px;
}
.data6__mark {
}

.schedule {
}
.shedule__head {
  display: flex;
  align-items: flex-end;
  border-bottom: #bdbfc5 solid 1px;
}
.shedule__text {
  height: 37px;
}
.shedule__element1 {
}
.shedule__element2 {
}
.shedule__body {
}

footer {
  text-align: center;
  background-color: #c5c5c5;
}
