.schedule {
}
.shedule__head {
  display: flex;
  align-items: flex-end;
  border-bottom: #bdbfc5 solid 1px;
}
.shedule__text {
  height: 37px;
}
.shedule__element1 {
}
.shedule__element2 {
}
.shedule__body {
}
